website/php_creds.php
submit-bot/.env
submit-bot/node_modules
submit-bot/config/config.json
website/.env
website/config/config.json
website/index.php
submit-bot/app/config
submit-bot/app/.env
website/node_modules
submit-bot/app/config/config.json